
<% layout('layouts/boilerplates') %>
<!-- layout use kr rhe he hm layouts folder ke data ko lene ke liye  
 layout use kr rhe he hm layouts folder ke data ko lene ke liye  -->

<%- include('../partials/navbar') %>
<!-- include use kr rhe he hm partials folder ke data ko lene ke liye  -->


<div class="alert alert-danger " role="alert">
<%=err%>

    </div>
    </body>
    </html>
